apiVersion: apps/v1
kind: Deployment
metadata:
  name: "ctf-web-the-shared-site"
  namespace: kubectf-challenges
  labels:
    challenges.ctfpilot.com/type: "web"
    challenges.ctfpilot.com/name: "the-shared-site"
    challenges.ctfpilot.com/category: "web"
    ctfpilot.com/component: "shared-challenge"
spec:
  replicas: 1
  selector:
    matchLabels:
      challenges.ctfpilot.com/type: "web"
      challenges.ctfpilot.com/name: "the-shared-site"
      challenges.ctfpilot.com/category: "web"
  template:
    metadata:
      labels:
        challenges.ctfpilot.com/type: "web"
        challenges.ctfpilot.com/name: "the-shared-site"
        challenges.ctfpilot.com/category: "web"
        ctfpilot.com/component: "shared-challenge"
    spec:
      enableServiceLinks: false
      automountServiceAccountToken: false
      imagePullSecrets:
        - name: dockerconfigjson-github-com
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 1.1.1.1
          - 8.8.8.8
      tolerations:
        - key: "cluster.ctfpilot.com/node"
          value: "scaler"
          effect: "PreferNoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "cluster.ctfpilot.com/node"
                    operator: In
                    values:
                      - scaler
      containers:
        - name: web
          image: ghcr.io/ctfpilot/challenges-example-web-the-shared-site:3
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 32Mi
          ports:
            - containerPort: 80
              name: web-port
          startupProbe:
            httpGet:
              path: /
              port: web-port
            failureThreshold: 12
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: web-port
            initialDelaySeconds: 5
            timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: "ctf-web-the-shared-site"
  namespace: kubectf-challenges
  labels:
    challenges.ctfpilot.com/type: "web"
    challenges.ctfpilot.com/name: "the-shared-site"
    challenges.ctfpilot.com/category: "web"
    ctfpilot.com/component: "shared-challenge"
spec:
  selector:
    challenges.ctfpilot.com/type: "web"
    challenges.ctfpilot.com/name: "the-shared-site"
    challenges.ctfpilot.com/category: "web"
  ports:
    - port: 80
      targetPort: web-port
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "ingress-ctf-web-the-shared-site"
  namespace: kubectf-challenges
  labels:
    challenges.ctfpilot.com/type: "web"
    challenges.ctfpilot.com/name: "the-shared-site"
    challenges.ctfpilot.com/category: "web"
    ctfpilot.com/component: "shared-challenge"
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: kubectf-instancing-fallback@kubernetescrd
spec:
  tls:
    - hosts:
        - "the-shared-site.{{ .Values.kubectf.host }}"
      secretName: kubectf-cert-challs
  rules:
    - host: "the-shared-site.{{ .Values.kubectf.host }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: "ctf-web-the-shared-site"
                port:
                  number: 80
